*, *::after, *::before {
  box-sizing: border-box;
}


.app-layout {
  background: linear-gradient(14deg, #2bb5d2, #d4a2ee);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-body {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 14px 15px rgba(0,0, 0, 0.1);
  padding: 2rem;
  max-width: 400px;
}
.app-output-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}
.weather-output__city {
  font-weight: 700;
}